<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-family: Arial, Helvetica, sans-serif; text-align:center">add</h1>

    <br><br><br>

    <div style="text-align:center;">
        <form action="/sub" method="post">

            <input type="text" name="title" >
            <br><br>
            <textarea name="content" cols="28" rows="4" ></textarea>


            <br><br>
            <button type="submit">submit</button>

        </form>
    </div>
</body>
</html>